#filter-container {
    width: 100%;
    background-color: #404040;
    padding: 4%;
    height: 100%;
}

#filter-buttons-section {
    padding: 4%;
}

.filter-forte-button {
    width: 46%;
    margin: 2%;
}