.brand-name, .brand-name {
    margin-right: 3%;
    margin-left: 1%;
    font-weight: bolder;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: 'Moirai One', cursive;
}

.clickable {
    cursor: pointer;
}

.icon {
    width: 25px !important;
    height: 25px !important;
}

.nav-link {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}