.fields-section {
    height: auto;
    overflow: auto;
    padding: 1%;
    padding-top: 1%;
    padding-bottom: 0;
}

.form-control {
    width: 100%;
    font-size: 0.93em;
    padding: 4px;
    border-radius: 5px;
}

.list-container {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.form-label {
    font-size: 0.80em;
    margin-bottom: 2px;
    text-shadow: none;
}

.error {
    color: red;
    margin: 0;
    margin-left: 1px;
}

.dark {
    color: #ccc;
    font-weight: 700;
}

.light {
    color: #333;
    font-weight: 500;
}

.dropdown-toggle + .dropdown-menu {
    display: none;
    width: 100%;
}

.dropdown-toggle:focus + .dropdown-menu {
    display: block;
    width: 100%;
}

.dropdown-item {
    z-index: 1000;
}

.img-sm-relative {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
}