.header-box {
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33,37,41,1);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#brand-name {
    font-family: 'Moirai One', cursive;
    color: white;
    font-weight: 900;
    font-size: 5em;
}

.form-box {
    height: 70vh;
    width: 100vw;
    position: absolute;
    top: 30vh;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 15px;
}