.container {
    display: flex;
    width: 100%;
    background-color: rgba(33, 37, 41, 1);
    justify-content: center;
    margin-top: 2%;
}

.sidebar-link {
    background-color: rgb(45, 49, 53);
    margin: 2px;
    padding: 1%;
    color: #ccc;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}